body{
  align-items: center;
  font-family: 'Nunito', sans-serif;
}
.featured-car {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px 15px;
  margin-bottom: 30px;
}
.featured-car-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: minmax(0, 1fr);
  gap: 30px;
}


.featured-car-card .card-banner > img {
  object-fit: cover;
}

.featured-car-card .card-banner {
  background: hsla(0, 0%, 0%, 0.2);
  overflow: hidden;
}


.featured-car-card {
  border: 1px solid;
  border-radius: 10px;
  width: 450px;
  height: 550px;
}

.featured-car-card .card-content { padding: 0px 10px 0px; }

.featured-car-card .card-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  margin-bottom: 15px;
}

.featured-car-card .card-title { width: calc(100% - 60px); }

.featured-car-card .card-title > a {
  color: inherit;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.featured-car-card .year {
  font-family: 'Nunito', sans-serif;
  padding: 3px 12px;
  border: 2px dashed hsla(204, 91%, 53%, 0.4);
  border-radius: 14px;
}

.featured-car-card .card-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
  margin-bottom: 15px;
}

.featured-car-card .card-list-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.featured-car-card .card-list-item ion-icon {
  font-size: 20px;
}

.featured-car-card .card-item-text {
  
}

.featured-car-card .card-price-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.featured-car-card .card-price {
  font-family: 'Nunito', sans-serif;
}

.featured-car-card .card-price strong {
  
}

.featured-car-card .btn:last-child {
  min-width: 100%;
}

.featured-car-card .fav-btn {

}

.featured-car-card .fav-btn ion-icon { font-size: 18px; }

@media (min-width: 350px) {

  .featured-car-card .card-list { grid-template-columns: 1fr 1fr; }

  .featured-car-card .card-price { margin-right: auto; }

  .featured-car-card .btn:last-child {
    min-width: max-content;
    padding-inline: 15px;
  }

}